*{
    box-sizing: border-box;
}
.landing_part01{
    height:100vh;
    width:100vw;
    cursor:none;
}
.outer{
    height: 100vh;
    width:  100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green;  */
    flex-direction: column;
}

.inner{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto; 
    min-height: 200vh;
}

.intro{
    text-align: center;
    /* border: 2px solid red; */
    width: 100%;
    font-size: 3vw;
    font-family: 'manrope_light';
    transition: all 1s ease-out;
    animation: fontanimation 2s cubic-bezier(.49,.52,0,.89) 1; 
    margin-left: 6px;
}

@keyframes fontanimation{
    0%{
        margin-top: 5rem;
        font-size: 8vw;
        font-family: serif;
    }
    5%{
        font-family:'Courier New', Courier, monospace;
    }
    10%{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    15%{
        font-family: 'Times New Roman', Times, serif;
    }
    20%{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    25%{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    30%{
        
        font-family: 'manrope_light';
    }
    60%{
        margin-top: 5rem;
        font-size: 8vw;
        font-family: 'manrope_light';

    }
 
    100%{
        
        font-size: 3vw;
        font-family: 'manrope_light';
    }
}

.title{
    font-size: 8vw;
    font-family: 'manrope';
    color: var(--light);
    line-height: 6vw;  
    opacity: 1;
    bottom: 2rem;
    animation: slide-top 2s ease-in-out 1;
    transition: all 1s;
    position: sticky;
    top: 0;
}

@keyframes slide-top{
    0%{
        display: none;
        opacity: 0;
        transform: translate(0% , 50%);
    }
    50%{
        display: block;
        opacity: 0;
        transform: translate(0% , 50%);
    }
    100%{
        opacity: 1;
        transform: translate(0% , 0%);
        
    }
}

.bottom{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slide-top 2s ease-in-out 1;
    margin-bottom: 2.5rem;
    /* position: fixed;  */
    
}
.bottom i{
    text-align: center;
    font-size: 1.5rem;
    color: var(--light);
    transform: rotate(180deg);
}

.bottom p{
    text-align: center;
    /* border: 2px solid black;  */
    font-size: 1.25rem;
    font-family: 'manrope_medium';
    color: var(--primary);
    letter-spacing: 1px;
}
@keyframes TitleAnimation{
    100%{
        font-size: 3rem;
        
    }
}


/* --------------- Signup css ------------------  */

.outer_signup{
    height: 100vh;
    min-width: 100vw;
    background: transparent;
    display: flex;
   
}
.col1{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background-color: var(--accent);
    /* background-image: url(../images/All\ Gradient.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:200%;
    backdrop-filter: blur(10px);
    filter: saturate(150%); */
}

.col2{
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent);
    /* background: rgba(11, 11, 11, 0.2); */
    /* box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .7); */
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
}

.col1 img{
    width: 65%;
    mix-blend-mode: luminosity;
    pointer-events: none;
}

.col2 h2{
    margin: 1rem 0;
    font-size: 1.4rem;
    text-align: center;
    color: var(--light);
    font-family: 'manrope_medium';
}

.upper{
    width: 50%;
    /* border: 1px solid red; */
}
.middle{
    width: 50%;
}
.google_btn{
    display: block;
    margin: .5rem 0;
    padding: 0.5rem 0;
    background: transparent;
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'manrope_light';
    transition: all 0.3s ease-in-out;
}

.google_btn div{
    letter-spacing: 1px;
}
.google_logo{
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 .4rem;
}
.google_logo img{
    width: 100%;
    height: 100%;
}

.google_btn:hover{
    transform: scale(0.95);
}

.col2 p{
    text-align: center;
    color: rgba(11, 11, 11, 0.5);
}

.col2 form{
    width: 100%;
    /* border: 1px solid red;  */
}
.col2 form > input{
    display: block;
    width: 100%; 
    margin: 1rem 0;
    padding: 0.7rem 0.5rem ;
    border: 1px solid rgba(11, 11, 11, 0.5);
    font-family: 'manrope_light';
}

input::placeholder{
    color: var(--primary);
}

.col2 form > input:hover{
    border: 1px solid var(--light);
}

.col2 form > input:focus{
    outline: 1px solid var(--light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.col2 h5{
    color: #757575;
    font-family: 'manrope_extra_light';
}
.last_child a {
    color: var(--light);
    font-family: 'manrope_medium';
    text-decoration: none;
}

.btn{
    display: block;
    margin: 1rem auto; 
    padding: 0.5rem 0; 
    width: 100%;
    font-size: 1rem;
    outline: none;
    color: white;
    border: 1px solid transparent; 
    background: var(--light);
    cursor: pointer;
    font-family: 'manrope_light';
    transition: all .3s ease-in-out;
    letter-spacing: 1.5px;
}

.btn:hover{
    transform: scale(0.95);
}

.remember{
    height: fit-content;
    display: flex;
    padding: .5rem 2rem;
}

.middle select{
    display: block;
    width: 100%;
    padding: .6rem 0.3rem;
    margin: 1rem 0;
    outline: none;
    border: 1px solid var(--light);
    font-size: 1rem;
    font-family: 'manrope_light';
    letter-spacing: .5px;
}

.middle select:focus{
    border: 1px solid var(--primary);
}

.middle select option{
    color: var(--primary);
}

.sidebar_wrapper{
    width: 45vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/All\ Gradient.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:200%;
    backdrop-filter: blur(10px);
    filter: saturate(150%);
    position: fixed;
    z-index: 100;
}

.sidebar_wrapper img{
    width: 70%;
}

.profile_setup{
    width: 600vw;
    height: 100vh;
    display: flex;
    background: white;
    transition: all .5s ease-in-out;
}


/* .profile_setup_inner{
    width: 100vw;
    height: 100vh;
}


.BlankPage{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#name{
    transition: all 1s ease-in-out;
    z-index: -4;
}
#age{
    z-index: -3;
}
#college{
    z-index: -2;
}
#hobby{
    z-index: -1;
} */
