* {
    box-sizing: border-box;
}

.landing_part01 {
    height: 100vh;
    width: 100vw;
    cursor: none;
}

.outer {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green;  */
    flex-direction: column;
}

.inner {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 200vh;
}

.intro {
    text-align: center;
    /* border: 2px solid red; */
    width: 100%;
    font-size: 3vw;
    font-family: 'manrope_light';
    transition: all 1s ease-out;
    animation: fontanimation 2s cubic-bezier(.49, .52, 0, .89) 1;
    margin-left: 6px;
}

@keyframes fontanimation {
    0% {
        margin-top: 5rem;
        font-size: 8vw;
        font-family: serif;
    }

    5% {
        font-family: 'Courier New', Courier, monospace;
    }

    10% {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    15% {
        font-family: 'Times New Roman', Times, serif;
    }

    20% {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    25% {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    30% {

        font-family: 'manrope_light';
    }

    60% {
        margin-top: 5rem;
        font-size: 8vw;
        font-family: 'manrope_light';

    }

    100% {

        font-size: 3vw;
        font-family: 'manrope_light';
    }
}

.title {
    font-size: 8vw;
    font-family: 'manrope';
    color: var(--light);
    line-height: 6vw;
    opacity: 1;
    bottom: 2rem;
    animation: slide-top 2s ease-in-out 1;
    transition: all 1s;
    position: sticky;
    top: 0;
}

@keyframes slide-top {
    0% {
        display: none;
        opacity: 0;
        transform: translate(0%, 50%);
    }

    50% {
        display: block;
        opacity: 0;
        transform: translate(0%, 50%);
    }

    100% {
        opacity: 1;
        transform: translate(0%, 0%);

    }
}

.bottom {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: slide-top 2s ease-in-out 1;
    margin-bottom: 2.5rem;
    /* position: fixed;  */

}

.bottom i {
    text-align: center;
    font-size: 1.5rem;
    color: var(--light);
    transform: rotate(180deg);
}

.bottom p {
    text-align: center;
    /* border: 2px solid black;  */
    font-size: 1.25rem;
    font-family: 'manrope_medium';
    color: var(--primary);
    letter-spacing: 1px;
}

@keyframes TitleAnimation {
    100% {
        font-size: 3rem;

    }
}


/* --------------- Signup css ------------------  */

.outer_signup {
    height: 100vh;
    min-width: 100vw;
    background: transparent;
    display: flex;

}

.col1 {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background-color: var(--accent);
    /* background-image: url(../images/All\ Gradient.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:200%;
    backdrop-filter: blur(10px);
    filter: saturate(150%); */
}

.col2 {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent);
    /* background: rgba(11, 11, 11, 0.2); */
    /* box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .7); */
    /* border: 2px solid rgba(0, 0, 0, 0.5); */
}

.col1 img {
    width: 65%;
    mix-blend-mode: luminosity;
    pointer-events: none;
}

.col2 h2 {
    margin: 1rem 0;
    font-size: 1.4rem;
    /* text-align: center; */
    color: var(--light);
    font-family: 'manrope_medium';
}
.col2 h4{
    font-size: 1rem;
    color: var(--light);
    font-family: 'manrope_medium';
}

.upper {
    width: 50%;
    /* border: 1px solid red; */
}

.middle {
    width: 50%;
}

.google_btn {
    display: block;
    margin: .5rem 0;
    padding: 0.5rem 0;
    background: transparent;
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'manrope_light';
    transition: all 0.3s ease-in-out;
}

.google_btn div {
    letter-spacing: 1px;
}

.google_logo {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 .4rem;
}

.google_logo img {
    width: 100%;
    height: 100%;
}

.google_btn:hover {
    transform: scale(0.95);
}

.col2 p {
    text-align: center;
    color: rgba(11, 11, 11, 0.5);
}

.col2 form {
    width: 100%;
    /* border: 1px solid red;  */
}

.col2 form>input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 0.7rem 0.5rem;
    border: 1px solid rgba(11, 11, 11, 0.5);
    font-family: 'manrope_light';
}


input::placeholder {
    color: var(--primary);
}

.col2 form>input:hover {
    border: 1px solid var(--light);
}

.col2 form>input:focus {
    outline: 1px solid var(--light);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col2 h5 {
    color: #757575;
    font-family: 'manrope_extra_light';
}

.last_child a {
    color: var(--light);
    font-family: 'manrope_medium';
    text-decoration: none;
}

.btn {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 0;
    width: 100%;
    font-size: 1rem;
    outline: none;
    color: white;
    border: 1px solid transparent;
    background: var(--light);
    cursor: pointer;
    font-family: 'manrope_light';
    transition: all .3s ease-in-out;
    letter-spacing: 1.5px;
}

.btn:hover {
    transform: scale(0.95);
}

.btn_back {
    display: block;
    margin: .5rem 0;
    padding: 0.5rem 0;
    background: transparent;
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'manrope_light';
    transition: all 0.5s ease-in-out;
}

.btn_back:hover {
    background: var(--light);
    border: 1px solid var(--light);
    color: white;
    transform: scale(0.95);
}

.remember {
    height: fit-content;
    display: flex;
    padding: .5rem 2rem;
}

.middle select {
    display: block;
    width: 100%;
    padding: .6rem 0.3rem;
    margin: 1rem 0;
    outline: none;
    border: 1px solid var(--light);
    font-size: 1rem;
    font-family: 'manrope_light';
    letter-spacing: .5px;
}

.middle select:focus {
    border: 1px solid var(--primary);
}

.middle select option {
    color: var(--primary);
}

.middle input {
    display: block;
    width: 100%;
    padding: .6rem 0.3rem;
    margin: 1rem 0;
    outline: none;
    border: 1px solid var(--light);
    font-size: 1rem;
    font-family: 'manrope_light';
    letter-spacing: .5px;
}

/* .hobbies_container{
    border: 2px solid red;
} */
.hobbyArray{
    border:1px solid var(--light);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    width: fit-content;
    align-items: center;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
}

.hobbyArray i {
    margin-left: 0.5rem;
}

.hobby_input_div {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#hobbyInput{
    margin-top: 0;
    
}

.hobby_input_div i {
    font-size: 1.5rem;
    color: var(--light);
    margin-left: 0.5rem;
}

.hobbyArrayDiv {
    display: flex;
}
.sidebar_wrapper{
    width: 45vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/All\ Gradient.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 200%;
    backdrop-filter: blur(10px);
    filter: saturate(150%);
    position: absolute;
    z-index: 10;
    transition: all 1s ease-in-out;
}

.sidebar_wrapper img {
    width: 70%;
}

#matchmingoText {
    transition: all 0.2 ease-in-out;
}

.profile_setup {
    width: 800vw;
    height: 100vh;
    display: flex;
    background: white;
    transition: all .5s ease-in-out;
    overflow-y: hidden;
}

.photo_section {
    width: 50% !important;
    height: 30%;
    margin: 1rem 0;
    border: 1.5px dashed black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
}

.photo_section label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'manrope_light';
    color: #757575;
}

.photo_section img {
    height: 40%;
    width: 80%;
    transition: all .3s ease-in-out;
}

.btn_dnone {
    display: none;
}

.suggestions {
    width: 50%;
    margin: .5rem 0;
}

.suggestions span {
    color: black;
}

.suggestions p {
    text-align: left;
    color: rgba(132, 132, 132, 0.72);
}

#input-files {
    display: none;
}

#input-files2 {
    display: none;
}

label {
    cursor: pointer;
}

.home_outer {
    display: flex;

}

.home_left {
    height: 100vh;
    width: 30vw;
    background: var(--accent);
}

.home_right {
    height: 100vh;
    width: 70vw;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.Container_of_profile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78%;
    position: relative;
    /* overflow: hidden; */
}

.moving_part {
    height: 100%;
    width: 100%;
    /* background:red; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header {
    height: 17%;
    /* background:blue; */
}

.header h1 {
    font-size: 3.2vw;
    color: var(--light);
    font-family: 'manrope_medium';
    /* margin-top: .5rem; */
}

.heart i {
    font-size: 4vw;
    color: var(--light);
}

.card {
    height: 90%;
    width: 40%;
    position: absolute;
    background: rgba(132, 132, 132);
    /* filter: drop-shadow(0px 6px 28px rgba(0, 0, 0, 0.65)); */
    margin: 2rem 0;
}

.card img {
    width: 100%;
    height: 100%;
}

.userDetails {
    /* border: 2px solid red; */
    position: absolute;
    bottom: 2rem;
    width: 100%;
    color: white;
    padding: 1rem;
}

.icons {
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1rem;
    background-image: linear-gradient(to top, black, transparent);
}

.userNameAge {
    font-size: 1.5rem;
    font-weight: 600;
}

.icons i {
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.6);
    margin: 0rem 0.5rem;
}

.home_bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 1rem; */
    height: 5%;
}

.bottom_inner {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box i {
    font-size: 2vw;
    color: var(--light);
    margin: 0 .4rem;
    opacity: .6;
}

.box p {
    font-size: 1.2vw;
    color: #757575;
}

.alert {
    color: red !important;
    opacity: 0;
    font-family: 'manrope_light';
}

.msgs {
    width: 30vw;
    /* transition: all .5s ease-in-out; */
}

.msg_row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid rgba(132, 132, 132, 0.2);
    transition: all .3s ease-in-out;
}

.msg_row:hover {
    /* border-bottom: 1px solid #000; */
    box-shadow: .5rem 0 1rem rgba(132, 132, 132, 0.25) inset;
    box-shadow: .5rem 0 1rem rgba(132, 132, 132, 0.1);
    transform: scale(.96);
}

.msg_info {
    display: flex;
    align-items: center;
}

.msg_img {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.2rem;
}

.msg_img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.msg_name h2 {
    font-size: 1.25rem;
    font-family: 'manrope_medium';
    font-weight: 100;
}

.msg_name p {
    font-size: .875rem;
    font-family: 'manrope_light';
}

.msg_time p {
    font-size: .875rem;
    font-family: 'manrope_light';
}

.likes {
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .8rem 0;
}

.like_wrapper {
    height: 30%;
    width: 26%;
    margin: 0 .5rem;
}

.like_wrapper p {
    text-align: center;
    font-family: 'manrope_light';
}

.img_card {
    height: 100%;
    width: 100%;
    transition: all .5s ease-in-out;
    background: rgba(132, 132, 132, 0.25);
}

.img_card:hover {
    filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.4));
}

.img_card img {
    height: 100%;
    width: 100%;
    border-radius: 3%;
}

.msg_like_wrapper {
    width: 60vw;
    height: 80%;
    display: flex;
    transition: all .5s ease-in-out;
}


/* .info_container {
    width: 70vw;
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.info_box {
    height: 90%;
    width: 40%;
    padding: 3% 5%;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    box-shadow: 0.3rem .2rem 1rem rgba(132, 132, 132, 0.4);
    overflow-y: scroll;
}

.info_box>div {
    padding: .3rem 0;
}

.info_box>hr {
    color: #CACACA;
}

.info_box>div h3 {
    font-size: 1.1rem;
    font-family: 'manrope_medium';
    color: var(--light);
    line-height: 1.875rem;
}

.info_box>div p {
    font-size: .7rem;
    font-family: 'manrope_light';
}

::-webkit-scrollbar {
    width: 3px;
}

/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
} */

::-webkit-scrollbar-thumb {
    background: var(--light);
    border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(132, 132, 132, 0.72);
}


/* ---------- edit profile -----------  */

.gender{
    border: none;
    font-family: 'manrope_light';
    font-size: .8rem;
    width: 100%;
}

.gender:focus{
    outline: none;
}

.location_info input , .language_info input , .hobby_info input{
    width: 100%;
    padding: 1% .5%;
    border: none;
    font-family: 'manrope_light';
    font-size: .8rem;
}
.location_info input:focus , .language_info input , .hobby_info input{
    outline: none;
}

.bio_inf0 textarea{
    width: 100%;
    padding: 1% 0.5%;
    border: none;
    font-family: 'manrope_light';
    font-size: .8rem;
    resize: none;
}

.bio_inf0 textarea:focus{
    outline: none;
}
