
body{
    overflow-x: hidden; 
    scroll-behavior: smooth;      
}
.landing_carousel{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.landing_carousel_wrapper{
    height: 100%;
    width: 300%;
    overflow-x: hidden;
    
}

.carousel_container{
    height: 100%;
    display: flex;
    overflow: hidden;
    animation: motion 40s linear infinite;       
}

@keyframes motion {
	0% { transform: translateX(0vw); }
	100% { transform: translateX(calc(-117.7vw))} 

}

.carousel_element{
    height: 150%;
    min-width: 13.1vw;
    max-width: 13.1vw;
    margin:0.8vw;
}
.carousel_card{
    height: 40%;
    width: 100%;
    background-color: var(--primary);
    margin: 0.8vw 0rem ;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel_card img{
    height: 93%;
    width: 90%;
}
.type_a,.type_b{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.type_c{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
/* temp css  */
.temp{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
}

.landing{
    height: 200vh;
    width: 100vw;
    border: 4px solid red;
}
.circle{
    position:absolute; 
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:50%;
    background-color: var(--light);
    display: none;
    display: none;
    border: none;
    background-color: transparent;
  }
  .verified{
    width: 100vw;
    height: 100vh;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .verified img{
    height: 30rem;
    width: 30rem;
  }
  