:root{
    --primary:linear;
  }
body{
    overflow-x: hidden;      
}
.landing_carousel{
    height: 100%;
    width: 100%;
    /* overflow: hidden;  */
    
    /* border: 2px solid red;  */
}

.landing_carousel_wrapper{
    height: 100%;
    width: 300%;
    /* overflow: hidden;  */
    
}

.carousel_container{
    height: 100%;
    display: flex;
    overflow: hidden;
    /* transition: all 0.1s ease;  */
    animation: motion 40s linear infinite;       
}

@keyframes motion {
	0% { transform: translateX(0); }
	100% { transform: translateX(-114.28vw)} 

}

.carousel_element{
    height: 150%;
    min-width: 11.19rem;
    margin:0.5rem;
}
.carousel_card{
    height: 40%;
    width: 100%;
    background-color: var(--primary);
    margin: 0.5rem 0rem ;
}
.type_a,.type_b{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.type_c{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
/* temp css  */
.temp{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
}
