
body{
    overflow-x: hidden; 
    scroll-behavior: smooth;      
}
.landing_carousel{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.landing_carousel_wrapper{
    height: 100%;
    width: 300%;
    overflow-x: hidden;
    
}

.carousel_container{
    height: 100%;
    display: flex;
    overflow: hidden;
    animation: motion 40s linear infinite;       
}

@keyframes motion {
	0% { transform: translateX(0vw); }
	100% { transform: translateX(calc(-117.7vw))} 

}

.carousel_element{
    height: 150%;
    min-width: 13.1vw;
    max-width: 13.1vw;
    margin:0.8vw;
}
.carousel_card{
    height: 40%;
    width: 100%;
    background-color: var(--primary);
    margin: 0.8vw 0rem ;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel_card img{
    height: 93%;
    width: 90%;
}
.type_a,.type_b{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.type_c{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
/* temp css  */
.temp{
    height: 100vh;
    width: 100vw;
    /* border: 2px solid red; */
}

.landing{
    height: 200vh;
    width: 100vw;
    border: 4px solid red;
}
.circle{
    position:absolute; 
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:50%;
    background-color: var(--light);
    display: none;
    display: none;
    border: none;
    background-color: transparent;
  }
  .verified{
    width: 100vw;
    height: 100vh;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .verified img{
    height: 30rem;
    width: 30rem;
  }
  .home_left{
    height: 100vh;
  }
  .home_left_top{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 0.5px solid #E7E7E7;
  }
 .home_left_top_left{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
  .home_left_top_left img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .home_left_top_middle{
    text-align: center;
    font-family: 'manrope_bold';
    font-size: 1.2rem;
  }
  .home_left_top_right{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home_left_top_right i{
    font-size: 1.5rem;
    color: var(--light);
  }
  .home_left_middle{
    height: 8%;
    display: flex;
    border-bottom: 0.5px solid #E7E7E7;
    align-items: center;
  }
  .home_left_middle >* {
    margin-left: 1.5rem;
  }
  .home_left_middle i{
    margin-right: 0.5rem;
  }
  .fa-heart{
    color: red;
  }
  .fa-message{
    color: var(--light);
  }
  .home_left_middle_left{
    cursor: pointer;
  }
  .home_left_middle_right{
    cursor: pointer;
  }
  .home_left_bottom{
    height: 80%;
    width: 100%;
    display: flex;
    padding: .3rem 0;
    /* overflow-x: scroll; */

  }
  .chatPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .5);
  }
  .chatPage_upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: relative;
  }
  .chatPage_upper_left{
    display: flex;
  }
  .chatPage_upper_left img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    margin-left: 0.5rem;
  }
  .chatPage_upper_left i{
    font-size: 1rem;
    margin: auto 0;
  }
  .chatPage_upper_right{
    width: 100%;
    margin-left: .5rem; 
  }
  .chatPage_upper_right h4{
    font-size: 1.2rem;
    font-family: 'manrope_light';
  }
  .chatPage_upper_right p{
    font-size: 0.8rem;
    font-family: 'manrope_light';
  }

  .info_icon{
    font-size: 1.5rem;
    color: var(--primary);
  }
  .chatPage_middle{
    width: 100%;
    height: 100%;
    padding: 1rem .5rem;
  }
  .chatPage_middle .left{
    float: left;
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light);
    max-width: 13rem;
    padding: .3rem .5rem;
    font-family: 'manrope_light';
    word-wrap: break-word;
    margin: .5rem 0;
    border-radius: 2px;
  }
  .chatPage_middle .right{
    float: right;
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E7E7E7;
    max-width: 13rem;
    padding: .3rem .5rem;
    font-family: 'manrope_light';
    word-wrap: break-word;
    margin: .5rem 0;
    border-radius: 2px;
  }
  .msgContent{
    max-width: 100%;
    line-height: 1rem;
    font-size: .9rem;
  }
  .chatPage_bottom{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
  }
  .chatPage_bottom_suggestions{
    height: 2.5rem;
    width:100%;
    border-top: 0.5px solid #E7E7E7;
    display: flex;
    align-items: center;
  }
  .chatPage_bottom_suggestions p{
    background-color: #DDF0EE;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    font-family: 'manrope';
    margin-right: 0.5rem;
    border-radius: .2rem;
    cursor: pointer;
  }
 
  .chatPage_bottom_inner{
    width: 100%;
    height: 50%;
    background-color: #E7E7E7;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
  }
  .chatPage_bottom_inner i{
    margin: 0rem 1rem;
    cursor: pointer;
  }
  .chatPage_bottom_inner input{
    width: 100%;
    background-color: transparent;
    height: 100%;
    border: 2px solid transparent;
    padding: 1rem 0.5rem;
    overflow: auto;
  }
  ::placeholder{
    font-family: "manrope";
  }
  .chatPage_bottom_inner input:focus{
    outline: none;
  }