*{
    margin:0%;
    padding:0%;
    }
    body{
        scroll-behavior: smooth;
        /* cursor: none;   */
    }
.fcc{
    display: flex;
    align-items: center;
    justify-content:center;
}
.landing_part02{
    height:100vh;
    width:100vw;
    background:linear-gradient(to top,var(--light),transparent);
    position: relative;
    cursor:none; 
}
.landing_part02_container{
    height:100vh;
    width:100vw;
    background:transparent;
    cursor:pointer;
}

/*  css for title Machming landing page */
.landing_part02_container01{
    height:15%;
    width:100%;
    justify-content: flex-start;
}
.landing_part02_container01 > p{
   margin:0%;
   padding:0% 0% 0% 3%;
   font-family: 'Manrope';
   font-size:2rem;
   /* background:orange; */
   display: inline-block;
   box-sizing: border-box;
   letter-spacing: 2px;
   text-transform: capitalize;
   color:var(--primary);
   font-weight: 500;
   overflow-x:hidden ;
}

/* end of title css */

.landing_part02_container02{
    height:25%;
    width:100%;
}
.active_part_container02{
    min-height:80%;
    width:80%;
    flex-direction: column;
    justify-content: start;
   
}

/* css for heart image and text before that*/
.active_part_container02 > img{

    width:3vw;
    height:auto;
    display: block;
    margin-bottom:0.5rem ;
}
.active_part_container02 > p{
    /* border: 2px solid red;  */
    text-align: center;
    font-family: "manrope_medium";
    /* background: firebrick; */
    margin: 0%;
    padding: 0%;
    font-size: 4vh;
    letter-spacing: 1px;
    
    word-spacing: 2px;
    color: var(--primary);
    overflow:hidden;
   

}
/* css for heart image ends */

/*css for slider*/
.landing_part02_container03{
    height:60%;
    width:100%;
    /* background:darkcyan; */
}

.cursor_outer{
    position:absolute;
    z-index: 100;
}
.cursor_div{
    height:80px;
    width:80px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%232EC4B6' stroke-width='3' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 50px;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rotate1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cursor_outside {

    position:relative;
    width: 100px;
    height:100px;
    /* dashed border */
    border-radius:100px ;  
     top:-50%;
    background:var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .cursor_outside > p{
    color:var(--light); 
    /* border: 2px solid red;  */
    font-size:0.8rem;
    font-family:'manrope';
    font-weight:1000;
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2rem;
}

.find_cursor{
    top:0%;
}
.match_cursor{
    top:-6%;
}
.login_page_main_div{
    height:100vh;
    width:100vw;
    /* background:transparent; */
    
}
.Side_presentation{
    height:100%;
    width:45vw;
   
}

.side_presenation_container{
    height:100%;
    width:100%;
    background-image:url("../images/All\ color\ Gradient\ SD.png ");
    background-size:200%;
    background-position: center center;
    /* backdrop-filter: saturate(150%); */
    filter: saturate(200%);
    /* background:maroon; */
    /* background-image:url("../images/All\ Gradient\ \(4\).png ");
   background-position: -20% 20%;
   background-size:200%;
   background-position: center center;
   */
   
 
}
.blurer{
    height:100%;
    width:100%;
    background-image:url("../images/All\ Gradient\ \(4\).png");
    position:fixed;
    background-size:200%;
    background-repeat: no-repeat;
    background-position: center center; 
    /* backdrop-filter: blur(20px); */
    /* background-blend-mode:luminosity; */
    /* filter: saturate(150%); */
    animation-name:move_background;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction: alternate;
    /* background:rgba(255,255,255,0.0); */
    
}
.logo_div_login{
    height:30%;
    width:80%;
    /* background:tan; */
    position:fixed;
    /* background:red; */
    flex-direction:column;
}

.logo_div_login > img{
    width: 90%;
}
.logo_div_login > p {
    margin: 0px;
    padding: 0%;
    background-color:#55B2A9;
  font: bold 80px 'manrope';
  color:transparent;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: text;
  background-clip: text;
  /* mix-blend-mode:darken; */

}
.logo_div_login p:nth-child(2){
    top:-10%;
    position: relative;
    
}

.login_form_div{
    height:100vh;
    width:55vw;
    /* background:yellow; */
}

.login_form_div_container{
height:100%;
width:100%;
/* background:purple; */
}

.login_form_container{
    height:70%;
    width:80%;
    /* background:black; */
    flex-direction: column;
}
.login_title_container{
    height:14%;
    width:100%;
    /* background:red; */
    justify-content: flex-start;
    /* padding-bottom:2%; */
}
.login_title{
    /* display:inline-block; */
    font-family:'manrope';
    /* background:yellow; */
    color:var(--light);
    font-size: 1.8rem;
    margin:0px;
    padding:0px;
    letter-spacing: 4px;
    font-weight: 600;
}



.login_google_container{
    height:20%;
    width:100%;
    /* background:green; */
    flex-direction: column;
}
.google_button_div{
    height:80%;
    width:100%;
    /* background:blue; */
}

#google_login , .submit_btn{
height:53%;
width:45%;
background:white;
border:1px solid #C6C6C6;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
border-radius: 5px;
}
#google_login > img {
    height:auto;
    width:5%;
}
#google_login > p{
    height:auto;
    padding-left:3%;
    font-size:0.9rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-family:'manrope'
}

.OR_div{
    height:20%;
    width:100%;
    /* background:lawngreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_OR_div{
    height:7%;
    background:#c0c0c0;
    width:45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_OR_div > p{
    display:inline-block;
    background:white;
    padding:0% 3% 0% 3%;
    color:#D7D9D6;
    margin:0px;
}




.form_container{
    height:70%;
    width:100%;
    /* background:teal;  */
    flex-direction: column;
}
.form_part1{
    height:95%;
    width:100%;
    /* background: #55B2A9; */

}
.form_part2{
    height:5%;
    width:100%;
    /* background: red; */
    
}
#login_form_ff{
    height:100%;
    width:100%;
    /* background:green; */
    flex-direction: column;
}
#login_form_ff > input {
    height:12%;
    width:43%;
    margin:2% 0% 2% 0%;
    font-family: 'manrope';
    padding:0% 0% 0% 2%;
    font-size: 0.9rem;
    border:1px solid #C6C6C6;
    border-radius:5px;
    outline:none;
}

#login_form_ff > input:hover{
    border:1px solid var(--light);
    box-shadow:0px 0px 1px black;
}


.remember_me_login{
    height:10%;
    width:45%;
    /* background:yellow; */
    margin:1% 0% 1% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.re01,.re02{
    height:100%;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background:tomato; */
}
.re02{
    /* background:wheat; */
    justify-content: flex-end;
}
#remember{
    font-family: 'manrope';
    font-size:0.8rem;
    border:2px solid var(--light);
}
#remember:after{
    box-shadow:none;
    background-color:var(--light) !important;
    color:var(--light) !important;
}
.remember_me{
    font-size:12px;
    color:#1e1e1e;
}
.forget_password{
    font-size:0.8rem;
}
.submit_btn_div{
    height:30%;
    width:45%;
    /* background:blue; */
    
}
.link{
    text-decoration: none;
    outline: none;
}
.submit_btn{
    height:45%;
    width:100%;
    font-family: 'manrope';
    font-size:1.5rem;
    letter-spacing: 2px;
    background:var(--light);
    color:white;
}
.not_an_member{
    height:25%;
    width:100%;
    /* background:khaki; */
    display: flex;
    align-items:center;
    justify-content:center;
}
.not_an_member > p , .link > p{
    font-size:0.8rem;
    letter-spacing:1px;
    font-family: 'manrope';
    font-weight:700;
    
}
.link > p{
    color:var(--light);
}

/*css ends here */
