*{
    margin:0%;
    padding:0%;
    }
    body{
        scroll-behavior: smooth;
    }
.fcc{
    display: flex;
    align-items: center;
    justify-content:center;
}
.landing_part02{
    height:100vh;
    width:100vw;
    background:linear-gradient(to top,var(--light),transparent);
    position: relative;
    cursor:pointer;
}
.landing_part02_container{
    height:100vh;
    width:100vw;
    background:transparent;
}

/*  css for title Machming landing page */
.landing_part02_container01{
    height:15%;
    width:100%;
    /* background:red; */
    justify-content: flex-start;
}
.landing_part02_container01 > p{
   margin:0%;
   padding:0% 0% 0% 3%;
   font-family: 'Manrope';
   font-size:2rem;
   /* background:orange; */
   display: inline-block;
   box-sizing: border-box;
   letter-spacing: 2px;
   text-transform: capitalize;
   color:var(--primary);
   font-weight: 500;
   overflow-x:hidden ;
}

/* end of title css */

.landing_part02_container02{
    height:25%;
    width:100%;
}
.active_part_container02{
    height:90%;
    width:80%;
    /* background:red;  */
    flex-direction: column;
   
}

/* css for heart image and text before that*/
.active_part_container02 > img{

    width:3vw;
    height:auto;
    display: block;
    margin-bottom:0.5rem ;
}
.active_part_container02 > p{
    /* border: 2px solid red;  */
    text-align: center;
    font-family: "manrope_medium";
    /* background: firebrick; */
    margin: 0%;
    padding: 0%;
    font-size: 4vh;
    letter-spacing: 1px;
    
    word-spacing: 2px;
    color: var(--primary);
    overflow:hidden;
   

}
/* css for heart image ends */

/*css for slider*/
.landing_part02_container03{
    height:60%;
    width:100%;
    /* background:darkcyan; */
}

.cursor_outer{
    position:absolute;
}
.cursor_div{
    height:40px;
    width:40px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%232EC4B6' stroke-width='2' stroke-dasharray='5' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 50px;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rotate1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cursor_outside {
    box-shadow: 0px 0px 10px var(--primary);
    position:relative;
    width: 50px;
    height: 51px;
    /* dashed border */
    border-radius:100px ;
     top:-50%;
    background:var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .cursor_outside > p{
    color:var(--light);
    font-size:9px;
    font-family:'manrope';
    font-weight:1000;
    position: relative;
    margin:0px;
    padding:0px;
}

.find_cursor{
    top:0%;
}
.match_cursor{
    top:-6%;
}

/*css ends here */
