*{
    margin:0%;
    padding:0%;
    }
.fcc{
    display: flex;
    align-items: center;
    justify-content:center;
}
.landing_part02{
    height:100vh;
    width:100vw;
    background:linear-gradient(to top,var(--light),transparent);
    position: relative;
}
.landing_part02_container{
    height:100vh;
    width:100vw;
    background:transparent;
}
.landing_part02_container01{
    height:15%;
    width:100%;
    /* background:red; */
    justify-content: flex-start;

    
}
.landing_part02_container01 > p{
   margin:0%;
   padding:0% 0% 0% 3%;
   font-family: 'Manrope';
   font-size:2rem;
   /* background:orange; */
   display: inline-block;
   box-sizing: border-box;
   letter-spacing: 2px;
   text-transform: capitalize;
   color:var(--primary);
   font-weight: 500;
}
.landing_part02_container02{
    height:25%;
    width:100%;
}
.active_part_container02{
    height:90%;
    width:80%;
    /* background:red;  */
    flex-direction: column;
}
.active_part_container02 > img{
    width:4.5%;
    height:auto;
    display: block;
    margin-bottom:0.5rem ;
}
.active_part_container02 > p{
    /* border: 2px solid red;  */
    text-align: center;
    font-family: "manrope_medium";
    /* background: firebrick; */
    margin: 0%;
    padding: 0%;
    font-size: 4vh;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: var(--primary);

}
.landing_part02_container03{
    height:60%;
    width:100%;
    /* background:darkcyan; */
}
