@media (max-width: 1311px) {
    .login_title_container{
        width:75%;
    }
    .logo_div_login > img{
        width:100%;
    }
    .sidebar_wrapper > img{
        width:70%;
    }
    .login_OR_div{
        width:75%;
    }
    .login_title{
        font-size:1.6rem;
    }
    .passwordDiv{
        width:100%;
    }
    .col2 h2{
        font-size:1.5rem;
    }
    .google_logo img{
        width:80%;
        margin-top:1%;
        height:auto;
    }
    .google_btn{
        width:100%;
    }
    .btn_back{
        width:100%;
        /* margin-left:0rem; */
    }
    .google_btn > div{
        font-size:0.8rem;
        padding-top:-1%;
    }
    .col2 form>input{
        font-size:0.8rem;
        padding-left:7%;
    }
    
    #gender,#sexual_orientation{
        width:100%;
    }
   
    .btn{
        font-size:1rem;
    }
    .col2 form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

   
    #google_login , .submit_btn{
        width:75%;
        height:60%
    }
    #login_form_ff > input {
        height:15%;
        width:75%;
        
    }
    .remember_me_login{
        height:10%;
        width:75%;
        /* background:yellow; */
        margin:1% 0% 1% 0%;
    }
    .remember_me{
        font-size:0.8rem;
    }
    .forgot_password{
        font-size: 0.8rem;
    }
    .submit_btn_div{
        /* background:green; */
       width:75%;
       height:30%;
    }
    .submit_btn{
        height:50%;
        width:100%;
        font-size: 1.4rem;
        padding:0%;
    }
    .not_an_member{
        padding-top:5%;
    }
    .not_an_member > p{
        font-size: 0.84rem;
    }
   
    .link > p{

        font-size: 0.84rem;
    }
    .header h1{
        font-size:2rem;
    }
    .card{
        /* background:red; */
        width:80%;
    }
  .box p{
    font-size:1.12rem;
  }
  
.home_left_top_right i {
    font-size:1.4rem;
}
.card_left{
    /* background:red; */
}
.imageChangeArrowDiv i{
    font-size:1.8rem;
}
.imageChangeArrowDiv i:nth-child(1) {
    transform: translateX(1vw);  
}
.imageChangeArrowDiv i:nth-child(2) {
    transform: translateX(-1vw);  
}
}

@media (max-width: 1141px) {
    .login_title_container{
        width:80%;
    }
    .login_OR_div{
        width:80%;
    }
    .logo_div_login > img{
        width:90%;
    }
    .login_title{
        font-size:1.4rem;
    }

    #google_login , .submit_btn{
        width:80%;
        height:55%;
        font-size:1.4rem;
    }
    .col2 h2{
        font-size:1.4rem;
    }
    .google_logo img{
        width:80%;
        margin-top:20%;
        height:auto;
    }
    .google_btn > div{
        font-size:0.9rem;
        padding-top:-1%;
    }
    .col2 form >input{
        font-size:0.9rem;
        padding-left:7%;
    }
    .btn{
        font-size:1.2rem;
    }
    #login_form_ff > input {
        height:14%;
        width:80%;
        padding-left:5%;
        
    }
    .remember_me_login{
        height:10%;
        width:80%;
        /* background:yellow; */
        margin:1% 0% 1% 0%; 
    }
    .remember_me{
        font-size:0.8rem;
    }
    .forgot_password{
        font-size: 0.8rem;
    }
    .submit_btn_div{
        /* background:green; */
       width:80%;
       height:30%;
    }
    .submit_btn{
        height:50%;
        width:100%;
        font-size: 1.2rem;
        padding:0%;
    }
    .not_an_member{
        padding-top:5%;
    }
    .not_an_member > p{
        font-size: 0.8rem;
    }
    .link > p{
        font-size: 0.8rem;}
        .header h1{
            font-size:2.2rem;
        }
        .card{
            /* background:red; */
            width:90%;
        }
      .box p{
        font-size:1rem;
      }
      
    .home_left_top_right i {
        font-size:1.3rem;
    }
    .icons i{
        font-size:1.5rem;
    }
    .imageChangeArrowDiv i {
        font-size: 1.76rem;
    }

}

@media (max-width: 977px) {
    .login_title_container{
        width:85%;
    }
    .login_OR_div{
        width:85%;
    }
    .logo_div_login > img{
        width:95%;
    }
    .login_title{
        font-size:1.3rem;
    }
   .sidebar_wrapper{
    width:50vw;
   }
   #gender,#sexual_orientation{
    width:130%;
}
#gender_college{
    width:130%;
}
.photo_section{
    width:100%;
}
.hobbies_container,.bioInput{
    width:130%;
    
    /* background:green; */
}
    #google_login , .submit_btn{
        width:85%;
        height:55%;
        font-size:1.3rem;
    }
    #login_form_ff > input {
        height:14%;
        width:85%;
        padding-left:5%;
        
    }
    .col2 h2{
        font-size:1.35rem;
    }
    .col2 p{
        width:130%;
    }
    .btn_back{
        width:130%;
        /* margin-left:-2rem; */
    }
    .google_btn{
        padding-left:0%;
        padding-right:0%;
        margin-left:0%;
        width:130%;
    }
    
    .google_logo img{
        width:80%;
        margin-top:2%;
        height:auto;
    }
    .google_btn > div{
        font-size:0.82rem;
        padding-top:-1%;
    }
    .google_btn{
        margin-left:-0.5rem;
    }
    .col2 form >input{
        width:130%;
        font-size:0.82rem;
        padding-right:0rem;
        padding-left:7%;
        transform: translateX(2rem);
        
        
    }
    .passwordDiv{
        width: 130%;
        transform: translateX(2rem);

    }
    .btn{
        font-size:1.2rem;
        width:130%;
    }
    .btn_back{
        width:130%;
        transform: translateX(2.5rem);
    }
    .remember_me_login{
        height:10%;
        width:85%;
        /* background:yellow; */
        margin:1% 0% 1% 0%;

    }
    .remember_me{
        font-size:0.85rem;
    }
    .forgot_password{
        font-size: 0.85rem;
    }
    .submit_btn_div{
        /* background:green; */
       width:85%;
       height:30%;
    }
    .submit_btn{
        height:50%;
        width:100%;
        font-size: 1.2rem;
        padding:0%;
    }
    .not_an_member{
        padding-top:5%;
    }
    .not_an_member > p{
        font-size: 0.85rem;
    }
    .link > p{
        font-size: 0.85rem;}

        .header h1{
            font-size:2.3rem;
        }
        .card{
            /* background:red; */
            width:95%;
        }
      .box p{
        font-size:1rem;
      }
      
    .home_left_top_right i {
        font-size:1.4rem;
    }
.home_left{
    width:33vw;
}
.home_right{
    width:67vw;
}
.icons i{
    font-size:1.4rem;

}
.imageChangeArrowDiv i {
    font-size: 1.65rem;
}

}

@media (max-width: 827px) {
    .login_title_container{
        width:95%;
        /* background:maroon; */
    }
    .login_OR_div{
        width:95%;
    }
    .Side_presentation{
        display: none;
    }
    .login_form_div{
        width:53vw;
    }
    
    .login_form_container{
        height:80%;
    }
    .logo_div_login > img{
        width:95%;
    }
    .login_title_container{
        height:20%;
        

    }
    .login_google_container{
        height:20%;
        /* background:green; */

    }
    .form_container{
        height:60%;
        /* background:blue; */

    }
    .login_OR_div{
        height:3%;
        width:95%;
    }
    .login_title{
        font-size:1.5rem;
    }
   .google_btn{
    margin-left:-0.1rem;
   }
   .btn_back{
    transform: translateX(2rem);
   }
    #google_login , .submit_btn{
        width:95%;
        height:55%;
        font-size:1.2rem;
    }
    #google_login > img{
        width:7%;
    }
    #google_login > p{
        font-size:0.85rem;
        padding-left:5%;
    }
    #login_form_ff > input {
        height:14%;
        width:95%;
        padding-left:5%;
        font-size: 0.8rem;
        
    }
    .remember_me_login{
        height:10%;
        width:95%;
        /* background:yellow; */
        margin:1% 0% 1% 0%;
    }
    .remember_me{
        font-size:0.83rem;
    }
    .submit_btn_div{
        /* background:green; */
       width:95%;
       height:30%;
    }
    .submit_btn{
        height:50%;
        width:100%;
        font-size: 1.18rem;
        padding:0%;
    }
    .not_an_member{
        padding-top:5%;
    }
    .not_an_member > p{
        font-size: 0.83rem;
    }
    .link > p{
        font-size: 0.83rem;}
        .header h1{
            font-size:2.1rem;
        }
        .card{
            /* background:red; */
            width:95%;
        }
      .box p{
        font-size:0.79rem;
      }
      
    .home_left_top_right i {
        font-size:1.4rem;
        transform: translateX(3vw);
    }
.home_left{
    width:35vw;
}
.home_left_middle i {
    margin-right: 0.28rem;
}
.home_left_middle_right {
    font-size:0.85rem;
}
.home_right{
    width:65vw;
}
.home_left_top{
    /* background:green; */
}
.icons i{
    font-size:1.3rem;
}
.card_left,.imageChangeArrowDiv{
    width:53%;
}
}
@media (max-width:730px){
    .btn_back{
        transform: translateX(1.7rem);
    }
}
@media (max-width: 670px) {
    .login_title_container{
        width:85%;
        /* background:maroon; */
    }
    .login_title_container{
        width:85%;
        /* background:maroon; */
    }
    .col1{
        width:0vw;
    }
    .sidebar_wrapper{
        width:0%;
    }
    .col2{
        width:100vw;
      
    }
    .col2 h2{
        font-size:1.8rem;
        width: 120%;
        padding-bottom:10%;
    }
    #gender_college{
        width:110%;
    }
    .google_btn{
        width:130%;
        margin-left:-1rem;
    }
    .btn_back{
        width:130%;
        /* margin-left:-2rem; */
    }
    .col2 p{
        width:110%;
    }
    .google_logo img{
        width:70%;
        margin-top:10%;
        height:auto;
    }
    
    .google_btn > div{
        font-size:0.82rem;
        padding-top:-1%;
    }
    .col2 form >input{
        width:130%;
        font-size:0.82rem;
        padding-right:0rem;
        padding-left:7%;
    }
    #gender,#sexual_orientation{
        width:110%;
    }
    .hobbies_container,.bioInput{
        width:110%;
        
        /* background:green; */
    }
    .btn{
        font-size:1.2rem;
        width:130%;
        transform: translateX(-1rem);
    }
    .btn_back{
        width:130%;
    }
    .Side_presentation{
        display: none;
    }
    .login_form_div{
        width:100vw;
    }
    .login_form_container{
        /* background: black; */
        height:85%;
        width:80%;
    }
    .logo_div_login > img{
        width:95%;
    }
    .login_title_container{
        height:20%;
    }
    .login_google_container{
        height:20%;
        /* background:green; */

    }
    .form_container{
        height:60%;
        /* background:blue; */

    }
    .login_OR_div{
        height:3%;
        width:70%;
    }
    .login_title{
        font-size:1.7rem;
        font-weight: 600;
    }

    #google_login , .submit_btn{
        width:85%;
        height:55%;
        font-size:1.2rem;
    }
    #google_login > img{
        width:6%;
    }
    #google_login > p{
        font-size:0.85rem;
        padding-left:5%;
    }
    #login_form_ff > input {
        height:14%;
        width:85%;
        padding-left:5%;
        font-size: 0.9rem;
        
    }
    .remember_me_login{
        height:10%;
        width:85%;
        /* background:yellow; */
        margin:1% 0% 1% 0%;
        
    }
    .remember_me{
        font-size:0.9rem;
    }
    .submit_btn_div{
        /* background:green; */
       width:85%;
       height:30%;
    }
    .submit_btn{
        height:50%;
        width:100%;
        font-size: 1.3rem;
        padding:0%;
    }
    .not_an_member{
        padding-top:5%;
    }
    .not_an_member > p{
        font-size: 0.9rem;
    }
    .link > p{
        font-size: 0.9rem;}
}

@media (max-width:600px){
    .cursor_outer{
        display: none;
    }
    .intro{
        font-size: 5vw;
        animation: fontanimation 2s cubic-bezier(.49,.52,0,.89) 1; 
    }

    @keyframes fontanimation{
        0%{
            margin-top: 5rem;
            font-size: 8vw;
            font-family: serif;
        }
        5%{
            font-family:'Courier New', Courier, monospace;
        }
        10%{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        15%{
            font-family: 'Times New Roman', Times, serif;
        }
        20%{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        25%{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    
        30%{
            
            font-family: 'manrope_light';
        }
        60%{
            margin-top: 5rem;
            font-size: 8vw;
            font-family: 'manrope_light';
    
        }
     
        100%{
            font-size: 5vw;
            font-family: 'manrope_light';
        }
    }
    .title{
        font-size: 13vw;
        line-height: 12vw;
    }
    /* .fcc p{
      font-size: 1rem;
    } */
    .fcc img{
        height: 1.5rem;
        width: 1.5rem;
    }
    .active_part_container02{
        height:50%;
        width:80%;
        flex-direction: column;
       
    }
    .carousel_element{
        min-width: 50vw;
        max-width: 50vw;
    }
    .mobileHide{
        display: none;
    }
    @keyframes motion {
        0% { transform: translateX(0vw); }
        100% { transform: translateX(calc(-205vw))} 
    
    }

    .google_logo > p{
        width:130%;
        margin-left:-2rem;
    }
    .upper > h2{
        margin-left:-2rem;
    }
    .google_btn{
        width:130%;
        margin-left:-2rem;
    }
    .btn_back{
        width:130%;
        margin-left:-4.5rem;
    }
    #gender,#sexual_orientation{
        width:130%;
        margin-left:-2rem;
    }
    #gender_college{
        width:130%;
        margin-left:-2rem;
    }
    .hobbies_container,.bioInput{
        width:130%;
        margin-left:-2rem;
        /* background:green; */
    }
    .col2 form > h4{
        margin-left: -2rem;;
    }
    .middle > h4{
        margin-left: -2rem;
    }
    .col2 form > input{
        width:130%;
        margin-left:-4rem;
    }
    .btn{
        width:130%;
        margin-left:-2rem;
    }
    .passwordDiv{
        transform: translateX(0rem);
    }
    .modes > button{
        width:100%;
        margin-left:0rem;

    }
    .last_child{
        width:130%;
        margin-left:-2rem;
    }
    .modes{
        width:130%;
        margin-left:-2rem;
    }
    
    .Side_presentation{
        display: none;
    }
    .login_form_div{
        width:100vw;
        
    }
    .login_form_container{
        /* background: black; */
        height:90%;
        width:85%;
    }
    .google_logo > div{
        font-size:1rem;
    }
    .logo_div_login > img{
        width:95%;
    }
    .login_title_container{
        height:10%;
        width:90%;
        
        /* background:green; */
    }
    
    .login_google_container{
        height:20%;
        /* background:green; */

    }
    .form_container{
        height:60%;
        /* background:blue; */

    }
    .login_OR_div{
        height:3%;
        width:90%;
    }
    .login_title{
        font-size:1.5rem !important;
        font-weight: 600;
    }

    #google_login , .submit_btn{
        width:90%;
        height:45%;
        font-size:1.2rem;
    }
    #google_login > img{
        width:7%;
    }
    #google_login > p{
        font-size:0.85rem;
        padding-left:5%;
    }
    #login_form_ff > input {
        height:12%;
        width:90%;
        padding-left:5%;
        font-size: 0.92rem;
        
    }
    .remember_me_login{
        height:10%;
        width:90%;
        /* background:yellow; */
        margin:1% 0% 1% 0%;
        font-size: 10px;
    }
    .submit_btn_div{
        /* background:green; */
       width:90%;
       height:30%;
    }
    .submit_btn{
        height:45%;
        width:100%;
        font-size: 1.3rem;
        padding:0%;
    }
    .not_an_member{
        padding-top:5%;
    }
    .not_an_member > p{
        font-size: 0.82rem;
    }
    .link > p{
        font-size: 0.82rem;}
    .card_left_mobile{
        width:62% !important;
    }
    .imageChangeArrowDiv{
        width:62% !important;
    }
    .footer_logos img {
        width:auto;
        height:auto;
    }

        
}
@media  (max-width:408px) {
    .btn{
        transform: translateX(0rem);
    }
    .btn_back{
        transform: translateX(2rem);
    }
    .card_left_mobile{
        width:80% !important;
    }
    .imageChangeArrowDiv{
        width:80% !important;
    }
    .footer_logos img {
        width:35%;
        height:auto;
    }
    
        @keyframes fontanimation{
            0%{
                margin-top: 5rem;
                font-size: 8vw;
                font-family: serif;
            }
            5%{
                font-family:'Courier New', Courier, monospace;
            }
            10%{
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            15%{
                font-family: 'Times New Roman', Times, serif;
            }
            20%{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            25%{
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        
            30%{
                
                font-family: 'manrope_light';
            }
            60%{
                margin-top: 5rem;
                font-size: 8vw;
                font-family: 'manrope_light';
        
            }
         
            100%{
                font-size: 5vw;
                font-family: 'manrope_light';
            }
        }
        .title{
            font-size: 13vw;
            line-height: 12vw;
        }
        .fcc p{
          font-size: 0.7rem;
        }
        .fcc img{
            height: 1.5rem;
            width: 1.5rem;
        }
        
}