@import url("./stylesheets/beta.css");
@import url("./stylesheets/gamma.css");
@import url("./stylesheets/alpha.css");
/* @import url("./stylesheets/mobile.css"); */
@import url("./stylesheets/mobile_alpha.css");
#root{
  overflow-anchor: none; 
}
*{
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  transition: scroll 5s ease-out;
}
:root{
  --primary:#011627;
  --accent:#FDFFFC;
  --light:#2EC4B6;
  --gradient_blue:#2E5090;
}
.landing_part01{
cursor: none;
}
#cursor{
  cursor:none;
}
.dnone{
  display:none;
}
.empty_btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@keyframes rotate1{
  /* 0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
   }*/
}
@keyframes move_background {
  /* 0%{
    background-position: 0% 0%;
  }
  4%{
    background-origin:10% 30%;

  }
  8%{
    background-position:50% 0%;
    
  }
  12%{
    background-position:15% 40%;
  
  }
  16%{
    background-position:12% 60%;
  
  }
  20%{
    background-position:70% 5%;
    
  }
  24%{
    background-position:80% 20%;
    
  }
  28%{
    background-position:70% 35%;
    
  }
  32%{
    background-position:60% 30%;
   
  }
  36%{
    background-position:50% 55%;
    
  }
  40%{
    background-position:70% 60%;
    
  }
  44%{
    background-position:45% 75%;
    
  }
  48%{
    background-position:35% 60%;
    
  }
  52%{
    background-position:15% 50%;
    
  }
  56%{
    background-position:10% 35%;
    
  }
  60%{
    background-position:0% 65%;
    
  }
  64%{
    background-position:25% 70%;
    
  }
  68%{
    background-position:35% 65%;
    
  }
  72%{
    background-position:20% 90%;  }
  76%{
    background-position:15% 90%;
    
  }
  80%{
    background-position:20% 100%;
    
  }
  84%{
    background-position:60% 80%;
    
  }
  88%{
    background-position:75% 95%;
    
  }
  92%{
    background-position:95% 90%;
    
  }
  96%{
    background-position:85% 80%;
    
  }
  100%{
    background-position:50% 50%;
    
  } */ 
  0%{
        background-position: 0% 0%;
  }
  25%{
    background-position: 20% 20%;
  }
  50%{
    background-position: center center;
  }
  75%{
    background-position: 50% 50%;

  }
  100%{
    background-position: center center;
  }

  
}

@font-face {
  font-family: 'manrope';
  src: url("../public/resources/font/Manrope-VariableFont_wght.ttf") format("truetype");
}
/* *{
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' id='dt' height='100px' width='100px'><circle cx='25' cy='25' r='25'  fill='%23011627' ></circle><circle cx='25' cy='25' r='20'  stroke='%232EC4B6'  fill='%23011627' stroke-width='1'  stroke-dasharray='5' id='spinner' style=''></circle><text x='20' y='0' fill='%232EC4B6' font-family='manrope,Helvetica, sans-serif' style='font-weight:1000;font-size:9px'><tspan x='14' y='22' >Find</tspan><tspan x='10.5' y='32'>Match</tspan></text></svg>") 300 300,auto;
} */

@font-face {
  font-family: 'manrope_extra_light';
  src: url("../public/resources/font/Manrope-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: 'manrope_light';
  src: url("../public/resources/font/Manrope-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'manrope_medium';
  src: url("../public/resources/font/Manrope-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'manrope_bold';
  src: url("../public/resources/font/Manrope-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'manrope_semi_bold';
  src: url("../public/resources/font/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: 'manrope_extra_bold';
  src: url("../public/resources/font/Manrope-ExtraBold.ttf") format("truetype");
}
